{% load static %}
<header class="hero">
    <nav class="navbar">
        <div class="logo">Curso DevPython</div>
        <ul class="nav-links">
        </ul>
    </nav>
    
    <div class="hero-content">
        <h1>Domine Python com <br> Curso DevPython</h1>
        <p>Aprenda Python do básico ao avançado e destaque-se no mercado de trabalho.</p>
        <a href="#inscricao" class="btn">Inscreva-se</a>

        <div class="hero-info-badges">
            <div class="rating">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
            <span class="info-badge">Conteúdo rico</span>
            <span class="info-badge">Certificação</span>
        </div>
        <p class="hero-quote">"Transformou minha carreira em programação."<br><span>Lily Clark</span></p>
    </div>
</header>
